# Python
__pycache__/
*.py[cod]
*.so
*.pyc

data/
sessions.json
macros.json

# devflow_artefacts/
devflow_artefacts/distilbert
devflow_artefacts/spacy_ner
implementation_plan.md
walkthrough.md

# mp3 files
sample_mp3/

# Virtual environment
venv/
.venv

# Environment variables
.env

# Database
*.db
*.sqlite

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
