# Python
__pycache__/
*.py[cod]
*.so
*.pyc

# mp3 files
sample_mp3/

# Virtual environment
venv/
.venv

# Environment variables
.env

# Database
*.db
*.sqlite

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
